{% include "../templates/system/header/header.html" %}
<main>

  <div class="helper-box-medium helper-more-vspace">
    <!--
Herotext.
braucht: 
  $text(:String): Text
-->

    <p class="a-herotext">
      Lucas Cranach der Ältere verkörpert die Ideale eines Mannes im Zeitalter der Renaissance, der neben seiner
      Tätigkeit als Maler, Grafiker und Buchdrucker auch als Politiker und Unternehmer tätig war. 1547 nahm Cranachs
      Tätigkeit als Hofmaler ein vorläufiges Ende, als Kurfürst Johann Friedrich I., der Großmütige, nach der
      verlorenen Schlacht bei Mühlberg von Kaiser Karl V. abgesetzt und gefangengenommen wurde. 1550 folgte Cranach
      seinem Herrn ins Exil nach Augsburg und Innsbruck.</p>
  </div>

  <ul class="overview grid-container">
    <a href="paintings/bildnis-anna-buchner-geborene-lindacker.html">
      <li>

        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MIA_57-10_FR128/01_Overall/US_MIA_57-10_FR128_2012_Overall.jpg"
            alt="Bildnis Anna Buchner, geborene Lindacker">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Anna Buchner, geborene Lindacker</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MIA_57-10</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 40,6 x 27,3 x 0,5 cm (16 x 10 3/4 x 3/16 Zoll)<br />
                  [Minneapolis Institute of Arts, revised 2012]</p>
                <p>Maße Bildträger: 40 x 27 cm<br />
                  [Friedländer, Rosenberg 1979, No. 128]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>

      </li>
    </a>
    <li>
      <a href="paintings/bildnis-barbaras-der-herzogin-von-sachsen-1478-1534-gemahlin-von-georg-dem-bartigen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp721_FR414B/01_Overall/DK_SMK_KMSsp721_FR414B_2013-09-27_Overall.jpg"
            alt="Bildnis Barbaras, der Herzogin von Sachsen, 1478-1534 (Gemahlin von Georg dem Bärtigen)">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Barbaras, der Herzogin von Sachsen, 1478-1534 (Gemahlin von Georg dem Bärtigen)</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp721</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 36,0 x 23,0 cm<br />
                  Maße mit Rahmen: 47,5 x 35,0 cm</p>
                <p>[Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-der-katharina-von-bora.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_177a_FR187-188/01_Overall/CH_KMB_177a_FR187-188_2010-03_Overall.jpg"
            alt="Bildnis der Katharina von Bora">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis der Katharina von Bora</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1525</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_177a</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der bemalten Fläche: 10,2 cm (Durchmesser)<br />
                  Maße mit Rahmen: 14 cm (Durchmesser) x 2 cm (Tiefe)<br />
                  [Heydenreich, cda 2010]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-einer-frau.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp724_FR347/01_Overall/DK_SMK_KMSsp724_FR347_2009-03-13_Overall.jpg"
            alt="Bildnis einer Frau">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis einer Frau</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1534</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp724</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 51,5 x 36,0 cm<br />
                  Maße mit Rahmen: 70,0 x 53,8 cm</p>
                <p>[Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-einer-jungen-frau-prinzessin-emilia-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img src="http://lucascranach.org/thumbnails/DK_SMK_DEP4_FR173/01_Overall/DK_SMK_DEP4_FR173_2009_Overall.jpg"
            alt="Bildnis einer jungen Frau. Prinzessin Emilia von Sachsen?">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis einer jungen Frau. Prinzessin Emilia von Sachsen?</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_DEP4</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 41,6 x 29,8 x 0,61-1,42 cm<br />
                  (Originale Maße: 41,6 x ca. 27,6 cm)<br />
                  [Statens Museum for Kunst, Copenhagen, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-eines-mannes.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp723_FR346/01_Overall/DK_SMK_KMSsp723_FR346_2009-03-13_Overall.jpg"
            alt="Bildnis eines Mannes">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis eines Mannes</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1534</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp723</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 51,5 x 36,0 cm<br />
                  Maße mit Rahmen: 70,0 x 54,0 cm</p>
                <p>[Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-eines-mannes-mit-einer-goldbestickten-mutze-lukas-spielhausen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_1981-57-1_FR339/01_Overall/US_MMANY_1981-57-1_FR339_2012-11_Overall.jpg"
            alt="Bildnis eines Mannes mit einer goldbestickten Mütze (Lukas Spielhausen?)">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis eines Mannes mit einer goldbestickten Mütze (Lukas Spielhausen?)</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1532</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_1981-57-1</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 50,5 × 36,4 × 0,8 cm (19 7/8 × 14 5/16 × 5/16 Zoll)<br />
                  [Cat. New York 2013, 66, No. 14]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-eines-mannes-mit-rosenkranz.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_29-100-24_FR056/01_Overall/US_MMANY_29-100-24_FR056_2012-12_Overall.jpg"
            alt="Bildnis eines Mannes mit Rosenkranz">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis eines Mannes mit Rosenkranz</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_29-100-24</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße des Bildträgers: 47,4 × 35,6 × 0,95 cm (18 11/16 × 14 × 3/8 Zoll)<br />
                  Maße der Bildfläche: 46,7 × 34,9 cm (18 3/8 × 13 3/4 Zoll) [recto],<br />
                  46,5 × 34 cm (18 5/16 × 13 9/16 Zoll) [verso]</p>
                <p>[Cat. New York 2013, 45, No. 8]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-eines-mannes-mit-rotem-bart.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/NL_Mh_890_FR-none/01_Overall/NL_Mh_890_FR-none_2014-12_Overall.jpg"
            alt="Bildnis eines Mannes mit rotem Bart">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis eines Mannes mit rotem Bart</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Jüngere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1548</dd>
              <dt>Inventarnummer:</dt>
              <dd>NL_Mh_890</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 64 x 48 cm<br />
                  [<a
                    href="http://www.mauritshuis.nl/en/explore/the-collection/artworks/portrait-of-a-man-with-a-red-beard-890/detailgegevens/">http://www.mauritshuis.nl/en/explore/the-collection/artworks/portrait-of-a-man-with-a-red-beard-890/detailgegevens/</a>]
                  (accessed 12.12.2014)</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-johann-friedrich-der-grossmutige-kurfurst-von-sachsen-1503-1554.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_1228_FR336A/01_Overall/CH_KMB_1228_FR336A_2010-03_Overall.jpg"
            alt="Bildnis Johann Friedrich der Grossmütige, Kurfürst von Sachsen (1503-1554)">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Johann Friedrich der Grossmütige, Kurfürst von Sachsen (1503-1554)</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1533</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_1228</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 20,6 x 14,5 x 0,3 cm (original)<br />
                  [Öffentliche Kunstsammlung Basel, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-johann-friedrichs-des-grossmutigen-kurfurst-von-sachsen-1503-1554.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp725_FR337A/01_Overall/DK_SMK_KMSsp725_FR337A_2013-09-27_Overall.jpg"
            alt="Bildnis Johann Friedrichs des Großmütigen, Kurfürst von Sachsen (1503-1554)">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Johann Friedrichs des Großmütigen, Kurfürst von Sachsen (1503-1554)</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1533</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp725</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 20,0 x 14,0 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-johanns-des-bestandigen-kurfurst-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp729_FR338E/01_Overall/DK_SMK_KMSsp729_FR338E_2007-06-27_Overall.jpg"
            alt="Bildnis Johanns des Beständigen, Kurfürst von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Johanns des Beständigen, Kurfürst von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp729</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 46,5 x 24,5 cm<br />
                  Maße mit Rahmen: 53,0 x 31,0 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-martin-luther.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_177_FR187-188/01_Overall/CH_KMB_177_FR187-188_2010-03_Overall.jpg"
            alt="Bildnis Martin Luther">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Martin Luther</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1525</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_177</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der bemalten Fläche: 9,9 cm (Durchmesser)<br />
                  Maße mit Rahmen: 13,5 (Durchmesser) x 1,7 cm (Tiefe)<br />
                  [Heydenreich, cda 2010]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-martin-luthers.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp720_FR314A/01_Overall/DK_SMK_KMSsp720_FR314A_2013-08-19_Overall.jpg"
            alt="Bildnis Martin Luthers">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Martin Luthers</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1532</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp720</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 37,0 x 23,5 cm<br />
                  Maße mit Rahmen: 52,5 x 23,5 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/bildnis-moritz-buchner.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MIA_57-11_FR127/01_Overall/US_MIA_57-11_FR127_2012_Overall.jpg"
            alt="Bildnis Moritz Buchner">
          <figcaption class="helper-bg-gradient">
            <p>Bildnis Moritz Buchner</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MIA_57-11</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 40,6 x 27,3 x 0,5 cm (16 x 10 3/4 x 3/16 Zoll)<br />
                  [Minneapolis Institute of Arts, revised 2012]</p>
                <p>Maße Bildträger: 40 x 27 cm<br />
                  [Friedländer, Rosenberg 1979, No. 127]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/christus-segnet-die-kinder.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMS2087_FR362F/01_Overall/DK_SMK_KMS2087_FR362F_2009-06-22_Overall.jpg"
            alt="Christus segnet die Kinder">
          <figcaption class="helper-bg-gradient">
            <p>Christus segnet die Kinder</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMS2087</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 56,5 x 74,0 cm<br />
                  Maße mit Rahmen: 66,5 x 85,5 x 1,5 cm</p>
                <p>[Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/christus-und-die-ehebrecherin.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_1982-60-35_FR-none/01_Overall/US_MMANY_1982-60-35_FR-none_2008-07_Overall.jpg"
            alt="Christus und die Ehebrecherin">
          <figcaption class="helper-bg-gradient">
            <p>Christus und die Ehebrecherin</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Jüngere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_1982-60-35</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger (mit ergänztem Rand): 16,1 x 21,6 x ca. 0,3 cm<br />
                  Maße Bildfläche: 14,3 x 20,1 cm</p>
                <p>[The Metropolitan Museum of Art, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/das-martyrium-der-hl-barbara.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_57-22_FR021/01_Overall/US_MMANY_57-22_FR021_2007-08_Overall.jpg"
            alt="Das Martyrium der Hl. Barbara">
          <figcaption class="helper-bg-gradient">
            <p>Das Martyrium der Hl. Barbara</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_57-22</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 153,7 × 138,1 × 1,1 cm (60 1/2 × 54 3/8 × 7/16 Zoll)<br />
                  Maße Bildfläche: 152,1 × 134,6 cm (59 7/8 × 53 Zoll)</p>
                <p>[Cat. New York 2013, 47, No. 9]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/das-parisurteil.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp718_FR252/01_Overall/DK_SMK_KMSsp718_FR252_2010-06-08_Overall.jpg"
            alt="Das Parisurteil">
          <figcaption class="helper-bg-gradient">
            <p>Das Parisurteil</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1527</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp718</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 50,5 x 38,0 cm<br />
                  Maße mit Rahmen: 62,2 x 49,9 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/der-mund-der-wahrheit.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/PRIVATE_NONE-P179_FR279/01_Overall/PRIVATE_NONE-P179_FR279_Overall.jpg"
            alt="Der Mund der Wahrheit">
          <figcaption class="helper-bg-gradient">
            <p>Der Mund der Wahrheit</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>PRIVATE_NONE-P179</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 111 x 100 cm<br />
                  [<a
                    href="http://www.sothebys.com/en/auctions/ecatalogue/2015/old-master-british-paintings-evening-sale-l15033/lot.8.html">http://www.sothebys.com/en/auctions/ecatalogue/2015/old-master-british-paintings-evening-sale-l15033/lot.8.html</a>]
                  (accessed 30-08-2017)</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/die-kreuzigung.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp712_FR038B/01_Overall/DK_SMK_KMSsp712_FR038B_2009-03-13_Overall.jpg"
            alt="Die Kreuzigung">
          <figcaption class="helper-bg-gradient">
            <p>Die Kreuzigung</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp712</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 67,0 x 46,5 cm<br />
                  Maße mit Rahmen: 78,5 x 57,5 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/die-madonna-mit-dem-kinde-und-vier-weiblichen-heiligen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DE_smbGG-Lost_NONE-001_FR037/01_Overall/DE_smbGG-Lost_NONE-001_FR037_Overall.jpg"
            alt="Die Madonna mit dem Kinde und vier weiblichen Heiligen">
          <figcaption class="helper-bg-gradient">
            <p>Die Madonna mit dem Kinde und vier weiblichen Heiligen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DE_smbGG-Lost_NONE-001</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 95 x 76 cm</p>
                <p>[Friedländer, Rosenberg 1979, No. 37]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a
        href="paintings/friedrich-der-weise-kurfurst-von-sachsen-1463-1525-mit-den-heiligen-ursula-links-und-genoveva-rechts.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp730_FR036/01_Overall/DK_SMK_KMSsp730_FR036_2008-04-20_Overall.jpg"
            alt="Friedrich der Weise, Kurfürst von Sachsen (1463-1525) mit den Heiligen Ursula (links) und Genoveva (rechts)">
          <figcaption class="helper-bg-gradient">
            <p>Friedrich der Weise, Kurfürst von Sachsen (1463-1525) mit den Heiligen Ursula (links) und Genoveva
              (rechts)</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp730</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 101,0 x 36,5 x 0,6 cm<br />
                  Maße mit Rahmen: 109,5 x 43,0 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/friedrich-iii-der-weise-kurfurst-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_46-179-1_FR-none/01_Overall/US_MMANY_46-179-1_FR-none_2012-11_Overall.jpg"
            alt="Friedrich III. der Weise, Kurfürst von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Friedrich III. der Weise, Kurfürst von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1533</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_46-179-1</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 20,9 × 14,9 × 0,32 cm (8 1/4 × 5 7/8 × 1/8 Zoll)<br />
                  Maße der Bildfläche: 20,3 × 14,3 cm (8 × 5 5/8 Zoll) (Bereich des Bild und Text, ungefähr)</p>
                <p>[Cat. New York 2013, 78, No. 17A]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/herkules-mit-omphale.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp727_FR274B/01_Overall/DK_SMK_KMSsp727_FR274B_2007-04-11_Overall.jpg"
            alt="Herkules mit Omphale">
          <figcaption class="helper-bg-gradient">
            <p>Herkules mit Omphale</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1535</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp727</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 82 x 118 cm<br />
                  Maße mit Rahmen: 105,8 x 141,5 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/hirschjagd-friedrichs-des-weisen-1463-1525-kurfurst-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp728_FR281A/01_Overall/DK_SMK_KMSsp728_FR281A_2008-07-02_Overall.jpg"
            alt="Hirschjagd Friedrichs des Weisen (1463-1525), Kurfürst von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Hirschjagd Friedrichs des Weisen (1463-1525), Kurfürst von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp728</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildtrager: 56,5 x 80,5 cm<br />
                  Maße mit Rahmen: 70,5 x 94,5 x 6,6 cm</p>
                <p>[Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/hl-maurizius.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_2006-469_FR-none/01_Overall/US_MMANY_2006-469_FR-none_2008-07_Overall.jpg"
            alt="Hl. Maurizius">
          <figcaption class="helper-bg-gradient">
            <p>Hl. Maurizius</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_2006-469</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 136,2 × 38,7 × 0,32 cm (53 5/8 × 15 1/4 × 1/8 Zoll)<br />
                  Maße Bildfläche: 135,3 × 38,1 cm (53 1/4 × 15 Zoll)</p>
                <p>[Cat. New York 2013, 73, No. 16]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/johann-herzog-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_08-19_FR424B/01_Overall/US_MMANY_08-19_FR424B_2008-07_Overall.jpg"
            alt="Johann, Herzog von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Johann, Herzog von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_08-19</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 65,3 x 44 x 0,9 cm (inklusive die oben und unten später angebrachten Holzleisten, je
                  3/8 × 17 5/16 Zoll (0,95 × 44 cm))[1]<br />
                  Maße Bildfläche: 63,3 x 44 cm</p>
                <p>Tiefe der Parkettierung: 1,2 cm</p>
                <p>[1][Cat. New York 2013, 69, No. 15]<br />
                  [The Metropolitan Museum of Art, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/johann-i-der-bestandige-kurfurst-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_46-179-2_FR-none/01_Overall/US_MMANY_46-179-2_FR-none_2012-12_Overall.jpg"
            alt="Johann I der Beständige, Kurfürst von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Johann I der Beständige, Kurfürst von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1532</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_46-179-2</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 20,9 × 14,9 × 0,32 cm (8 1/4 × 5 7/8 × 1/8 Zoll)<br />
                  20,3 × 14,3 cm (8 × 5 5/8 Zoll) (Bild und Text Bereich, ungefähr) </p>
                <p>[Cat. New York 2013, 78, No. 17B]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/judith-mit-dem-kopf-des-holofernes.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_11-15_FR230E/01_Overall/US_MMANY_11-15_FR230E_2012-12_Overall.jpg"
            alt="Judith mit dem Kopf des Holofernes">
          <figcaption class="helper-bg-gradient">
            <p>Judith mit dem Kopf des Holofernes</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_11-15</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 87,6 × 61,3 × 0,5 cm (34 1/2 × 24 1/8 × 3/16 Zoll)<br />
                  87,9 × 62,9 cm (34 5/8 × 24 3/8 Zoll) (samt unterem Rand (Teil des Spannrahmen) und angebrachten
                  vertikalen Leisten)</p>
                <p>[Cat. New York 2013, 63, No. 13]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/liegende-quellnymphe.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/PRIVATE_NONE-P041_FR402/01_Overall/PRIVATE_NONE-P041_FR402_Overall.jpg"
            alt="Liegende Quellnymphe">
          <figcaption class="helper-bg-gradient">
            <p>Liegende Quellnymphe</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>PRIVATE_NONE-P041</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 58 x 79 cm<br />
                  [San Diego Museum of Art, revised 2018]<br />
                  Maße Bildträger: ca. 50 x 75 cm<br />
                  [Friedländer, Rosenberg 1979, No. 402]<br />
                  Maße Bildträger: 55,5 x 77,5 cm<br />
                  [Exhib. Cat. Berlin 1925, No. 86]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/lucretia.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_1628_FR235/01_Overall/CH_KMB_1628_FR235_2010-03_Overall.jpg"
            alt="Lucretia">
          <figcaption class="helper-bg-gradient">
            <p>Lucretia</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_1628</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 79 x 64 x 0,3-0,5 cm<br />
                  (gedünnt, nachträglich aufgedoppelt auf 0,9 cm Stärke und parkettiert; Bildränder überarbeitet; Format
                  vermutlich leicht verändert)<br />
                  [Heydenreich, CDA 2010]</p>
                <p>Maße mit Rahmen: 95,5 x 80,0 cm<br />
                  [Öffentliche Kunstsammlung Basel, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/madonna-mit-kind.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_1227_FR224/01_Overall/CH_KMB_1227_FR224_2010-03_Overall.jpg"
            alt="Madonna mit Kind">
          <figcaption class="helper-bg-gradient">
            <p>Madonna mit Kind</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1529</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_1227</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 84,3 x 58 x 1,3<br />
                  (nahezu original, rückseitig mit drei senkrechten Leisten versehen)</p>
                <p>[Heydenreich, CDA 2010]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/madonna-und-kind-mit-dem-johannesknaben.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMS3674_FR038/01_Overall/DK_SMK_KMS3674_FR038_2004-11-30_Overall.jpg"
            alt="Madonna und Kind mit dem Johannesknaben">
          <figcaption class="helper-bg-gradient">
            <p>Madonna und Kind mit dem Johannesknaben</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1512</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMS3674</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 36,5 x 27,5 cm<br />
                  Maße mit Rahmen: 67,0 x 58,5 x 0,5 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/madonna-und-kind-mit-den-heiligen-katharina-und-barbara.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp731_FR036/01_Overall/DK_SMK_KMSsp731_FR036_2008-04-20_Overall.jpg"
            alt="Madonna und Kind mit den Heiligen Katharina und Barbara">
          <figcaption class="helper-bg-gradient">
            <p>Madonna und Kind mit den Heiligen Katharina und Barbara</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp731</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 96,5 x 80,5 cm<br />
                  Maße mit Rahmen: 111 x 95 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/martin-luther.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_55-220-2_FR314F/01_Overall/US_MMANY_55-220-2_FR314F_2007-10_Overall.jpg"
            alt="Martin Luther">
          <figcaption class="helper-bg-gradient">
            <p>Martin Luther</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Werkstatt Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_55-220-2</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 33,3 × 23,2 × 0,6 - 0,8 cm (13 1/8 × 9 1/8 × 1/4 - 5/16 Zoll)<br />
                  [Cat. New York 2013, 85, No. 18]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/melancholie.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp722_FR276/01_Overall/DK_SMK_KMSsp722_FR276_2013-10-01_Overall.jpg"
            alt="Melancholie">
          <figcaption class="helper-bg-gradient">
            <p>Melancholie</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1532</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp722</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 51 x 97 cm<br />
                  Maße mit Rahmen: 66,3 x 111,7 x 8,3 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/parisurteil.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_28-221_FR254/01_Overall/US_MMANY_28-221_FR254_2012-12_Overall.jpg"
            alt="Parisurteil">
          <figcaption class="helper-bg-gradient">
            <p>Parisurteil</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_28-221</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße der Bildträger: 100,9 × 70,5 × 0,8 cm (39 11/16 × 27 3/4 × 5/16 Zoll)<br />
                  101,6 × 71,8 cm (40 × 28 1/4 Zoll) (mit Ergänzungen)</p>
                <p>[Cat. New York 2013, 54, No. 11]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/philipp-melanchthon.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/NL_RM_SK-A-2561_FR-none/01_Overall/NL_RM_SK-A-2561_FR-none_2013-07_Overall.jpg"
            alt="Philipp Melanchthon">
          <figcaption class="helper-bg-gradient">
            <p>Philipp Melanchthon</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Werkstatt Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1540</dd>
              <dt>Inventarnummer:</dt>
              <dd>NL_RM_SK-A-2561</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 36,8 x 23 cm<br />
                  [Mauritshuis, revised 2015]</p>
                <p>36 x 23 cm<br />
                  [Cat. Amsterdam 1976, 180]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/quellnymphe.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_1975-1-136_FR403B/01_Overall/US_MMANY_1975-1-136_FR403B_2007-08_Overall.jpg"
            alt="Quellnymphe">
          <figcaption class="helper-bg-gradient">
            <p>Quellnymphe</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Jüngere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_1975-1-136</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 15,2 × 20,3 × 0,16 cm (6 × 8 × 1/16 Zoll)<br />
                  [Cat. New York 2013, 94, No. 21]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/samson-und-delilah.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_1976-201-11_FR213/01_Overall/US_MMANY_1976-201-11_FR213_2008-07_Overall.jpg"
            alt="Samson und Delilah">
          <figcaption class="helper-bg-gradient">
            <p>Samson und Delilah</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_1976-201-11</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 57,3 × 37,4 × 0,6 - 0,8 cm (22 9/16 × 14 3/4 × 1/4 - 5/16 Zoll)<br />
                  [Cat. New York 2013, 59, No. 12]</p>
                <p>56,9 x 37,4 cm<br />
                  [The Metropolitan Museum of Art, revised 2011]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/sibylle-kurfurstin-von-sachsen.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp726_FR337A/01_Overall/DK_SMK_KMSsp726_FR337A_2013-09-27_Overall.jpg"
            alt="Sibylle, Kurfürstin von Sachsen">
          <figcaption class="helper-bg-gradient">
            <p>Sibylle, Kurfürstin von Sachsen</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1533</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp726</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 20 x 14 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/urteil-des-paris.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/CH_KMB_G1977-37_FR253/01_Overall/CH_KMB_G1977-37_FR253_2010-03_Overall.jpg"
            alt="Urteil des Paris">
          <figcaption class="helper-bg-gradient">
            <p>Urteil des Paris</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1528</dd>
              <dt>Inventarnummer:</dt>
              <dd>CH_KMB_G1977-37</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 84,7 x 57 x 0,55 cm<br />
                  (gedünnt und parkettiert, Format weitgehend original)<br />
                  [Heydenreich, CDA 2010]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/venus-mit-amor-als-honigdieb.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/DK_SMK_KMSsp719_FR244/01_Overall/DK_SMK_KMSsp719_FR244_2009-03-13_Overall.jpg"
            alt="Venus mit Amor als Honigdieb">
          <figcaption class="helper-bg-gradient">
            <p>Venus mit Amor als Honigdieb</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>1530</dd>
              <dt>Inventarnummer:</dt>
              <dd>DK_SMK_KMSsp719</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger: 58,0 x 38,0 cm<br />
                  Maße mit Rahmen: 68,5 x 49,5 cm<br />
                  [Statens Museum for Kunst, revised 2013]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="paintings/venus-und-amor.html">
        <!--
Zeigt ein Bild mit Bildunterschrift.
braucht: 
$src(:String): URL des Bildes
$caption(:String): Bildunterschrift (optional)
$altText(:String): Alternativtext 
-->
        <figure class="m-card-image-with-caption helper-box-shadow">
          <img
            src="http://lucascranach.org/thumbnails/US_MMANY_1982-60-48_FR249/01_Overall/US_MMANY_1982-60-48_FR249_2008-07_Overall.jpg"
            alt="Venus und Amor">
          <figcaption class="helper-bg-gradient">
            <p>Venus und Amor</p>
            <dl class="additional-info">
              <dt>Zuschreibung:</dt>
              <dd>
                <p>Lucas Cranach der Ältere</p>
              </dd>
              <dt>Datierung:</dt>
              <dd>0</dd>
              <dt>Inventarnummer:</dt>
              <dd>US_MMANY_1982-60-48</dd>
              <dt>Maße:</dt>
              <dd>
                <p>Maße Bildträger (rund): 12,2 x 11,8 cm (4 13/16 x 4 5/8 Zoll)<br />
                  Maße Bildfläche: 11 x 10,7 cm (4 3/8 x 4 1/4 Zoll)<br />
                  [Cat. New York 2013, 51, No. 10]</p>
              </dd>
            </dl>
          </figcaption>
        </figure>
      </a>
    </li>
  </ul>

</main>

{% include "../templates/system/footer/footer.html" %}
