<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Cranach Digital Archive | Home</title>
  <link href="/app/css/site.css" rel="stylesheet">

</head>
<body>

  <div class="page">
    <header id="mainHead" class="s-cda-header">
      <h1 id="mainHead"><a class="logo" href="/app/index.html">Cranach Digital Archive</a></h1>
      <button id="viewSwitcher" class="cda-btn card-view" data-view="cards">
        <svg id="btn-icon-card-view" class="btn-icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Untitled 3</title>
          <desc>Created with Sketch.</desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="sharp-view_compact-24px">
              <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
              <path d="M3,19 L22,19 L22,15 L3,15 L3,19 Z M3,5 L3,9 L22,9 L22,5 L3,5 Z M3,10 L3,14 L22,14 L22,10 L3,10 Z"
                id="Shape" fill="#fff" fill-rule="nonzero"></path>
            </g>
          </g>
        </svg>
        <svg id="btn-icon-list-view" class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path
            d="M3 9h4V5H3v4zm0 5h4v-4H3v4zm5 0h4v-4H8v4zm5 0h4v-4h-4v4zM8 9h4V5H8v4zm5-4v4h4V5h-4zm5 9h4v-4h-4v4zM3 19h4v-4H3v4zm5 0h4v-4H8v4zm5 0h4v-4h-4v4zm5 0h4v-4h-4v4zm0-14v4h4V5h-4z" fill="#fff" />
          </svg>
      </button>
    </header>

